@model clase1posta.Models.TipoInmueble

@{
    ViewData["Title"] = "Create";
}

<h2>Alta TipoInmueble</h2>
<br />
<div class="light-blue lighten-5" style="border-radius: 20px">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="input-field col s12">
                    <i class="material-icons prefix">import_contacts</i>
                    <label asp-for="NombreTipo" class="control-label"></label>
                    <input asp-for="NombreTipo" class="form-control" />
                    <span asp-validation-for="NombreTipo" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

