@model clase1posta.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<h2>Alta Usuario</h2>
<br />
<br />
<div class="light-blue lighten-5" style="border-radius: 20px">

    <div class="row">
        <div class="col s12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" required />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" required />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">email</i>
                    <label asp-for="Email" class="control-label"></label>
                    <input type='email' asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">vpn_key</i>
                    <label asp-for="Clave" class="control-label"></label>
                    <input type='password' asp-for="Clave" class="form-control" required />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">business_center</i>
                    <label asp-for="Rol" class="control-label"></label>
                    <input asp-for="Rol" class="form-control" required />
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
                <div class="input-field col s12">
                    <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <br />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

