@model clase1posta.Models.Inquilino

@{
    ViewData["Title"] = "Create";
}

<h2>Alta Inquilino</h2>
<br />

<div class="light-blue lighten-5" style="border-radius: 20px">

    <div class="row">
        <div class="col s12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="light-blue lighten-5 contenedor">

                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" required />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <label asp-for="apellido" class="control-label"></label>
                        <input asp-for="apellido" class="form-control" required />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment_ind</i>
                        <label asp-for="dni" class="control-label"></label>
                        <input asp-for="dni" class="form-control" required />
                        <span asp-validation-for="dni" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">work</i>
                        <label asp-for="trabajo" class="control-label"></label>
                        <input asp-for="trabajo" class="form-control" required />
                        <span asp-validation-for="trabajo" class="text-danger"></span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <label asp-for="nombreGarante" class="control-label"></label>
                        <input asp-for="nombreGarante" class="form-control" required />
                        <span asp-validation-for="nombreGarante" class="text-danger"></span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <label asp-for="apellidoGarante" class="control-label"></label>
                        <input asp-for="apellidoGarante" class="form-control " required />
                        <span asp-validation-for="apellidoGarante" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment_ind</i>
                        <label asp-for="dniGarante" class="control-label"></label>
                        <input asp-for="dniGarante" class="form-control" required />
                        <span asp-validation-for="dniGarante" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-field col s12">
                    <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <br />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
